<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>APS - ESTRUTURA DE DADOS</title>
    <!-- css styles -->
    <link rel="stylesheet" href="./../styles/reset.css" />
    <link rel="stylesheet" href="./../styles/styles.css" />
    <!-- js script -->
    <script type="module" src="./../scripts/index.js"></script>
  </head>

  <body>
    <main>
      <section class="order has--reveal js--reveal">
        <h1 class="order__title">Ordenação de Vetores</h1>

        <!-- first step -->
        <div class="order__container is--first-step has--reveal js--reveal">
          <!-- normal ordination -->
          <div class="order__values">
            <p class="order__text">
              Digite os valores do vetor à serem ordenados separados por
              vírgula:
            </p>
            <div class="order__values-container">
              <input
                class="order__input"
                type="text"
                name="arrayValues"
                id="arrayValues"
                placeholder="ex: 20, 10, 5, 2"
              />
              <button class="order__btn" id="btnSendNumbers">
                Enviar números
              </button>
            </div>
          </div>

          <!-- ambient -->
          <div class="order__ambient">
            <p class="order__text">
              Ou, analise um gráfico especial:
            </p>
            <button class="order__btn" id="btnSeeGraph">
              Analisar gráfico
            </button>
          </div>
        </div>

        <!-- second step -->
        <div
          class="order__container is--second-step is--inactive has--reveal js--reveal"
        >
          <p class="order__text">
            Os valores digitados foram:
          </p>
          <p class="order__numbers" id="labelArrayValues">2, 3, 4, 5</p>
          <p class="order__text">
            Que método de ordenação você deseja utilizar?
          </p>
          <div class="order__buttons-container">
            <button class="order__btn" id="btnQuickSort">
              Quick Sort
            </button>
            <button class="order__btn" id="btnBubbleSort">
              Bubble sort
            </button>
            <button class="order__btn" id="btnSelectionSort">
              Selection sort
            </button>
          </div>
        </div>

        <!-- third step -->
        <div
          class="order__container is--third-step is--inactive has--reveal js--reveal"
        >
          <p class="order__text">
            Vetor original:
          </p>
          <p class="order__numbers" id="labelArrayDisorderedValues"></p>
          <p class="order__text">
            Vetor ordenado:
          </p>
          <p class="order__numbers" id="labelArrayOrderedValues"></p>
          <p class="order__text">
            Tempo de execução:
          </p>
          <p class="order__time" id="labelExecutionTime"></p>
          <div class="order__buttons-container">
            <button class="order__btn" id="btnOrderAgain">
              Ordenar novamente
            </button>
          </div>
        </div>

        <!-- ambient second step -->
        <div
          class="order__container is--ambient-second-step is--inactive has--reveal js--reveal"
        >
          <p class="order__text">
            A tabela abaixo demonstra como o brasil vem investindo no meio
            ambiente, através dos gastos autorizados do Ministério do Meio
            Ambiente, de 2009 a 2018:
          </p>
          <div class="order__graph">
            <img src="../assets/graph.png" alt="" class="order__graph-img" />
            <div class="order__graph-container-btns">
              <button class="order__graph-btn is--2009">
                <span class="order__graph-btn--tooltip">R$ 3,5 bilhões</span>
              </button>
              <button class="order__graph-btn is--2010">
                <span class="order__graph-btn--tooltip">R$ 3,8 bilhões</span>
              </button>
              <button class="order__graph-btn is--2011">
                <span class="order__graph-btn--tooltip">R$ 3,9 bilhões</span>
              </button>
              <button class="order__graph-btn is--2012">
                <span class="order__graph-btn--tooltip">R$ 4,3 bilhões</span>
              </button>
              <button class="order__graph-btn is--2013">
                <span class="order__graph-btn--tooltip">R$ 5,0 bilhões</span>
              </button>
              <button class="order__graph-btn is--2014">
                <span class="order__graph-btn--tooltip">R$ 3,6 bilhões</span>
              </button>
              <button class="order__graph-btn is--2015">
                <span class="order__graph-btn--tooltip">R$ 3,6 bilhões</span>
              </button>
              <button class="order__graph-btn is--2016">
                <span class="order__graph-btn--tooltip">R$ 3,5 bilhões</span>
              </button>
              <button class="order__graph-btn is--2017">
                <span class="order__graph-btn--tooltip">R$ 3,9 bilhões</span>
              </button>
              <button class="order__graph-btn is--2018">
                <span class="order__graph-btn--tooltip">R$ 3,7 bilhões</span>
              </button>
            </div>
          </div>
          <p class="order__text">
            Utilizando os valores acima, que método de ordenação você deseja
            utilizar para ordenar os gastos descritos?
          </p>
          <div class="order__buttons-container">
            <button class="order__btn" id="btnQuickSortAmbient">
              Quick Sort
            </button>
            <button class="order__btn" id="btnBubbleSortAmbient">
              Bubble sort
            </button>
            <button class="order__btn" id="btnSelectionSortAmbient">
              Selection sort
            </button>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
